@charset "ISO-8859-1";

html,body{
    background-image: url("../source/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.card{
    width: 60%;
    height: 70%;
    margin-top:5%;
    background-color: orange !important;
    
}   

#btnDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
}