@charset "ISO-8859-1";

html,body{
    background-image: url("../source/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


.divForm{
    height: 100%;
    align-content: center;
}
.divCard{
    height: 335px;
    margin-top:auto;
    margin-bottom: auto;
    width: 417px;
    
}


.btn{
    float: left;
    color: black;
    background-color: #FFC312;
    width: 120px;
    position: fixed;
}

.btn:hover{
    color: black;
    background-color:orange;
}